.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-repeat-space {
  background-repeat: space;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-cover {
  background-size: cover !important;
}

.bg-contain {
  background-size: contain;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-center {
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-top {
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-right {
  background-repeat: no-repeat;
  background-position: center right;
}

.bg-bottom {
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bg-left {
  background-repeat: no-repeat;
  background-position: center left;
}

@media screen and (min-width: 30em) {
  .bg-no-repeat-s {
    background-repeat: no-repeat;
  }

  .bg-repeat-s {
    background-repeat: repeat;
  }

  .bg-repeat-x-s {
    background-repeat: repeat-x;
  }

  .bg-repeat-y-s {
    background-repeat: repeat-y;
  }

  .bg-repeat-space-s {
    background-repeat: space;
  }

  .bg-repeat-round-s {
    background-repeat: round;
  }

  .bg-cover-s {
    background-size: cover !important;
  }

  .bg-contain-s {
    background-size: contain;
  }

  .bg-fixed-s {
    background-attachment: fixed;
  }

  .bg-center-s {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-s {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-s {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-s {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-s {
    background-repeat: no-repeat;
    background-position: center left;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .bg-no-repeat-m {
    background-repeat: no-repeat;
  }

  .bg-repeat-m {
    background-repeat: repeat;
  }

  .bg-repeat-x-m {
    background-repeat: repeat-x;
  }

  .bg-repeat-y-m {
    background-repeat: repeat-y;
  }

  .bg-repeat-space-m {
    background-repeat: space;
  }

  .bg-repeat-round-m {
    background-repeat: round;
  }

  .bg-cover-m {
    background-size: cover !important;
  }

  .bg-contain-m {
    background-size: contain;
  }

  .bg-fixed-m {
    background-attachment: fixed;
  }

  .bg-center-m {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-m {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-m {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-m {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-m {
    background-repeat: no-repeat;
    background-position: center left;
  }
}

@media screen and (min-width: 60em) {
  .bg-no-repeat-l {
    background-repeat: no-repeat;
  }

  .bg-repeat-l {
    background-repeat: repeat;
  }

  .bg-repeat-x-l {
    background-repeat: repeat-x;
  }

  .bg-repeat-y-l {
    background-repeat: repeat-y;
  }

  .bg-repeat-space-l {
    background-repeat: space;
  }

  .bg-repeat-round-l {
    background-repeat: round;
  }

  .bg-cover-l {
    background-size: cover !important;
  }

  .bg-contain-l {
    background-size: contain;
  }

  .bg-fixed-l {
    background-attachment: fixed;
  }

  .bg-center-l {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-l {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-l {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-l {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-l {
    background-repeat: no-repeat;
    background-position: center left;
  }
}
