.button
  background-color: transparent
  border: 1px solid currentColor
  cursor: pointer
  display: inline-block
  height: auto
  font-family: inherit
  font-size: inherit
  margin: 0
  text-decoration: none
  vertical-align: middle
  -webkit-appearance: none
