.bg-transparent
	background-color: transparent

.b-transparent
	border-color: transparent

//

// Font color

//

.white-05
	color: rgba(255, 255, 255, .05)

.white-10
	color: rgba(255, 255, 255, .10)

.white-20
	color: rgba(255, 255, 255, .20)

.white-30
	color: rgba(255, 255, 255, .30)

.white-40
	color: rgba(255, 255, 255, .40)

.white-50
	color: rgba(255, 255, 255, .50)

.white-60
	color: rgba(255, 255, 255, .60)

.white-70
	color: rgba(255, 255, 255, .70)

.white-80
	color: rgba(255, 255, 255, .80)

.white-90
	color: rgba(255, 255, 255, .90)

.black-05
	color: rgba(0, 0, 0, .05)

.black-10
	color: rgba(0, 0, 0, .10)

.black-20
	color: rgba(0, 0, 0, .20)

.black-30
	color: rgba(0, 0, 0, .30)

.black-40
	color: rgba(0, 0, 0, .40)

.black-50
	color: rgba(0, 0, 0, .50)

.black-60
	color: rgba(0, 0, 0, .60)

.black-70
	color: rgba(0, 0, 0, .70)

.black-80
	color: rgba(0, 0, 0, .80)

.black-90
	color: rgba(0, 0, 0, .90)

.white
	color: #fff

.near-white
	color: #f4f4f4

.light-gray
	color: #eee

.light-gray
	color: #aaa

.silver
	color: #999

.gray
	color: #777

.mid-gray
	color: #555

.dark-gray
	color: #333

.near-black
	color: #111

.black
	color: #000

.blue
	color: #1976d2

.light-blue
	color: #2196f3

.washed-blue
	color: #c2e2fb

.green
	color: #388e3c

.light-green
	color: #4caf50

.washed-green
	color: #c8e6c9

.orange
	color: #ffa000

.light-orange
	color: #ffc107

.washed-orange
	color: #ffecb3

.red
	color: #d32f2f

.light-red
	color: #f44336

.washed-red
	color: #ffcdd2

//

// Border color

//

.b-white-05
	border-color: rgba(255, 255, 255, .05)

.b-white-10
	border-color: rgba(255, 255, 255, .10)

.b-white-20
	border-color: rgba(255, 255, 255, .20)

.b-white-30
	border-color: rgba(255, 255, 255, .30)

.b-white-40
	border-color: rgba(255, 255, 255, .40)

.b-white-50
	border-color: rgba(255, 255, 255, .50)

.b-white-60
	border-color: rgba(255, 255, 255, .60)

.b-white-70
	border-color: rgba(255, 255, 255, .70)

.b-white-80
	border-color: rgba(255, 255, 255, .80)

.b-white-90
	border-color: rgba(255, 255, 255, .90)

.b-black-05
	border-color: rgba(0, 0, 0, .05)

.b-black-10
	border-color: rgba(0, 0, 0, .10)

.b-black-20
	border-color: rgba(0, 0, 0, .20)

.b-black-30
	border-color: rgba(0, 0, 0, .30)

.b-black-40
	border-color: rgba(0, 0, 0, .40)

.b-black-50
	border-color: rgba(0, 0, 0, .50)

.b-black-60
	border-color: rgba(0, 0, 0, .60)

.b-black-70
	border-color: rgba(0, 0, 0, .70)

.b-black-80
	border-color: rgba(0, 0, 0, .80)

.b-black-90
	border-color: rgba(0, 0, 0, .90)

.b-white
	border-color: #fff

.b-near-white
	border-color: #f4f4f4

.b-light-gray
	border-color: #eee

.b-light-gray
	border-color: #aaa

.b-silver
	border-color: #999

.b-gray
	border-color: #777

.b-mid-gray
	border-color: #555

.b-dark-gray
	border-color: #333

.b-near-black
	border-color: #111

.b-black
	border-color: #000

.b-blue
	border-color: #1976d2

.b-light-blue
	color: #2196f3

.b-washed-blue
	border-color: #c2e2fb

.b-green
	border-color: #388e3c

.b-light-green
	color: #4caf50

.b-washed-green
	border-color: #c8e6c9

.b-orange
	border-color: #ffa000

.b-light-orange
	color: #ffc107

.b-washed-orange
	border-color: #ffecb3

.b-red
	border-color: #d32f2f

.b-light-red
	color: #f44336

.b-washed-red
	border-color: #ffcdd2

// 

// Background color

//

.bg-white-05
	background-color: rgba(255, 255, 255, .05)

.bg-white-10
	background-color: rgba(255, 255, 255, .10)

.bg-white-20
	background-color: rgba(255, 255, 255, .20)

.bg-white-30
	background-color: rgba(255, 255, 255, .30)

.bg-white-40
	background-color: rgba(255, 255, 255, .40)

.bg-white-50
	background-color: rgba(255, 255, 255, .50)

.bg-white-60
	background-color: rgba(255, 255, 255, .60)

.bg-white-70
	background-color: rgba(255, 255, 255, .70)

.bg-white-80
	background-color: rgba(255, 255, 255, .80)

.bg-white-90
	background-color: rgba(255, 255, 255, .90)

.bg-black-05
	background-color: rgba(0, 0, 0, .05)

.bg-black-10
	background-color: rgba(0, 0, 0, .10)

.bg-black-20
	background-color: rgba(0, 0, 0, .20)

.bg-black-30
	background-color: rgba(0, 0, 0, .30)

.bg-black-40
	background-color: rgba(0, 0, 0, .40)

.bg-black-50
	background-color: rgba(0, 0, 0, .50)

.bg-black-60
	background-color: rgba(0, 0, 0, .60)

.bg-black-70
	background-color: rgba(0, 0, 0, .70)

.bg-black-80
	background-color: rgba(0, 0, 0, .80)

.bg-black-90
	background-color: rgba(0, 0, 0, .90)

.bg-white
	background-color: #fff

.bg-near-white
	background-color: #f4f4f4

.bg-light-gray
	background-color: #eee

.bg-light-gray
	background-color: #aaa

.bg-silver
	background-color: #999

.bg-gray
	background-color: #777

.bg-mid-gray
	background-color: #555

.bg-dark-gray
	background-color: #333

.bg-near-black
	background-color: #111

.bg-black
	background-color: #000

.bg-blue
	background-color: #1976d2

.bg-washed-blue
	background-color: #c2e2fb

.bg-green
	background-color: #388e3c

.bg-washed-green
	background-color: #c8e6c9

.bg-orange
	background-color: #ffa000

.bg-washed-orange
	background-color: #ffecb3

.bg-red
	background-color: #d32f2f

.bg-washed-red
	background-color: #ffcdd2

//

// Hover color

//

.hover-white
	&:hover,
	&:focus
		color: #fff

.hover-near-white
	&:hover,
	&:focus
		color: #f4f4f4

.hover-light-gray
	&:hover,
	&:focus
		color: #eee

.hover-light-gray
	&:hover,
	&:focus
		color: #aaa

.hover-silver
	&:hover,
	&:focus
		color: #999

.hover-gray
	&:hover,
	&:focus
		color: #777

.hover-mid-gray
	&:hover,
	&:focus
		color: #555

.hover-dark-gray
	&:hover,
	&:focus
		color: #333

.hover-near-black
	&:hover,
	&:focus
		color: #111

.hover-black
	&:hover,
	&:focus
		color: #000

.hover-blue
	&:hover,
	&:focus
		color: #1976d2

.hover-light-blue
	&:hover,
	&:focus
		color: #2196f3

.hover-washed-blue
	&:hover,
	&:focus
		color: #c2e2fb

.hover-green
	&:hover,
	&:focus
		color: #388e3c

.hover-light-green
	&:hover,
	&:focus
		color: #4caf50

.hover-washed-green
	&:hover,
	&:focus
		color: #c8e6c9

.hover-orange
	&:hover,
	&:focus
		color: #ffa000

.hover-light-orange
	&:hover,
	&:focus
		color: #ffc107

.hover-washed-orange
	&:hover,
	&:focus
		color: #ffecb3

.hover-red
	&:hover,
	&:focus
		color: #d32f2f

.hover-light-red
	&:hover,
	&:focus
		color: #f44336

.hover-washed-red
	&:hover,
	&:focus
		color: #ffcdd2

.hover-bg-white
	&:hover,
	&:focus
		background-color: #fff

.hover-bg-near-white
	&:hover,
	&:focus
		background-color: #f4f4f4

.hover-bg-light-gray
	&:hover,
	&:focus
		background-color: #eee

.hover-bg-light-gray
	&:hover,
	&:focus
		background-color: #aaa

.hover-bg-silver
	&:hover,
	&:focus
		background-color: #999

.hover-bg-gray
	&:hover,
	&:focus
		background-color: #777

.hover-bg-mid-gray
	&:hover,
	&:focus
		background-color: #555

.hover-bg-dark-gray
	&:hover,
	&:focus
		background-color: #333

.hover-bg-near-black
	&:hover,
	&:focus
		background-color: #111

.hover-bg-black
	&:hover,
	&:focus
		background-color: #000

.hover-bg-blue
	&:hover,
	&:focus
		background-color: #1976d2

.hover-bg-washed-blue
	&:hover,
	&:focus
		background-color: #c2e2fb

.hover-bg-green
	&:hover,
	&:focus
		background-color: #388e3c

.hover-bg-washed-green
	&:hover,
	&:focus
		background-color: #c8e6c9

.hover-bg-orange
	&:hover,
	&:focus
		background-color: #ffa000

.hover-bg-washed-orange
	&:hover,
	&:focus
		background-color: #ffecb3

.hover-bg-red
	&:hover,
	&:focus
		background-color: #d32f2f

.hover-bg-washed-red
	&:hover,
	&:focus
		background-color: #ffcdd2
