.bg-transparent
	background-color: transparent

.black-05
	color: rgba(0, 0, 0, .05)

.black-10
	color: rgba(0, 0, 0, .10)

.black-20
	color: rgba(0, 0, 0, .20)

.black-30
	color: rgba(0, 0, 0, .30)

.black-40
	color: rgba(0, 0, 0, .40)

.black-50
	color: rgba(0, 0, 0, .50)

.black-60
	color: rgba(0, 0, 0, .60)

.black-70
	color: rgba(0, 0, 0, .70)

.black-80
	color: rgba(0, 0, 0, .80)

.black-90
	color: rgba(0, 0, 0, .90)

.border-transparent
	border-color: transparent

.border-black-05
	border-color: rgba(0, 0, 0, .05)

.border-black-10
	border-color: rgba(0, 0, 0, .10)

.border-black-20
	border-color: rgba(0, 0, 0, .20)

.border-black-30
	border-color: rgba(0, 0, 0, .30)

.border-black-40
	border-color: rgba(0, 0, 0, .40)

.border-black-50
	border-color: rgba(0, 0, 0, .50)

.border-black-60
	border-color: rgba(0, 0, 0, .60)

.border-black-70
	border-color: rgba(0, 0, 0, .70)

.border-black-80
	border-color: rgba(0, 0, 0, .80)

.border-black-90
	border-color: rgba(0, 0, 0, .90)

.bg-black-05
	background-color: rgba(0, 0, 0, .05)

.bg-black-10
	background-color: rgba(0, 0, 0, .10)

.bg-black-20
	background-color: rgba(0, 0, 0, .20)

.bg-black-30
	background-color: rgba(0, 0, 0, .30)

.bg-black-40
	background-color: rgba(0, 0, 0, .40)

.bg-black-50
	background-color: rgba(0, 0, 0, .50)

.bg-black-60
	background-color: rgba(0, 0, 0, .60)

.bg-black-70
	background-color: rgba(0, 0, 0, .70)

.bg-black-80
	background-color: rgba(0, 0, 0, .80)

.bg-black-90
	background-color: rgba(0, 0, 0, .90)

.white-05
	color: rgba(255, 255, 255, .05)

.white-10
	color: rgba(255, 255, 255, .10)

.white-20
	color: rgba(255, 255, 255, .20)

.white-30
	color: rgba(255, 255, 255, .30)

.white-40
	color: rgba(255, 255, 255, .40)

.white-50
	color: rgba(255, 255, 255, .50)

.white-60
	color: rgba(255, 255, 255, .60)

.white-70
	color: rgba(255, 255, 255, .70)

.white-80
	color: rgba(255, 255, 255, .80)

.white-90
	color: rgba(255, 255, 255, .90)

.border-white-05
	border-color: rgba(255, 255, 255, .05)

.border-white-10
	border-color: rgba(255, 255, 255, .10)

.border-white-20
	border-color: rgba(255, 255, 255, .20)

.border-white-30
	border-color: rgba(255, 255, 255, .30)

.border-white-40
	border-color: rgba(255, 255, 255, .40)

.border-white-50
	border-color: rgba(255, 255, 255, .50)

.border-white-60
	border-color: rgba(255, 255, 255, .60)

.border-white-70
	border-color: rgba(255, 255, 255, .70)

.border-white-80
	border-color: rgba(255, 255, 255, .80)

.border-white-90
	border-color: rgba(255, 255, 255, .90)

.bg-white-05
	background-color: rgba(255, 255, 255, .05)

.bg-white-10
	background-color: rgba(255, 255, 255, .10)

.bg-white-20
	background-color: rgba(255, 255, 255, .20)

.bg-white-30
	background-color: rgba(255, 255, 255, .30)

.bg-white-40
	background-color: rgba(255, 255, 255, .40)

.bg-white-50
	background-color: rgba(255, 255, 255, .50)

.bg-white-60
	background-color: rgba(255, 255, 255, .60)

.bg-white-70
	background-color: rgba(255, 255, 255, .70)

.bg-white-80
	background-color: rgba(255, 255, 255, .80)

.bg-white-90
	background-color: rgba(255, 255, 255, .90)

//

// Font colors

//

.black
	color: #000

.white
  color: #fff

.red
	color: #f44336

.pink
	color: #E91E63

.purple
	color: #9C27B0

.deep-purple
	color: #673AB7

.indigo
	color: #3F51B5

.blue
	color: #2196F3

.light-blue
	color: #03A9F4

.cyan
	color: #00BCD4

.teal
	color: #009688

.green
	color: #4CAF50

.light-green
	color: #8BC34A

.lime
	color: #CDDC39

.yellow
	color: #FFEB3B

.amber
	color: #FFC107

.orange
	color: #FF9800

.deep-orange
	color: #FF5722

.gray
	color: #9E9E9E

.blue-gray
	color: #607D8B

//

// Border colors colors

//

.border-black
  border-color: #000

.border-white
  border-color: #fff

.border-red
	border-color: #f44336

.border-pink
	border-color: #E91E63

.border-purple
	border-color: #9C27B0

.border-deep-purple
	border-color: #673AB7

.border-indigo
	border-color: #3F51B5

.border-blue
	border-color: #2196F3

.border-light-blue
	border-color: #03A9F4

.border-cyan
	border-color: #00BCD4

.border-teal
	border-color: #009688

.border-green
	border-color: #4CAF50

.border-light-green
	border-color: #8BC34A

.border-lime
	border-color: #CDDC39

.border-yellow
	border-color: #FFEB3B

.border-amber
	border-color: #FFC107

.border-orange
	border-color: #FF9800

.border-deep-orange
	border-color: #FF5722

.border-gray
	border-color: #9E9E9E

.border-blue-gray
	border-color: #607D8B

//

// Background colors

//

.bg-black
  background-color: #000

.bg-white
	background-color: #fff

.bg-red
	background-color: #f44336

.bg-pink
	background-color: #E91E63

.bg-purple
	background-color: #9C27B0

.bg-deep-purple
	background-color: #673AB7

.bg-indigo
	background-color: #3F51B5

.bg-blue
	background-color: #2196F3

.bg-light-blue
	background-color: #03A9F4

.bg-cyan
	background-color: #00BCD4

.bg-teal
	background-color: #009688

.bg-green
	background-color: #4CAF50

.bg-light-green
	background-color: #8BC34A

.bg-lime
	background-color: #CDDC39

.bg-yellow
	background-color: #FFEB3B

.bg-amber
	background-color: #FFC107

.bg-orange
	background-color: #FF9800

.bg-deep-orange
	background-color: #FF5722

.bg-gray
	background-color: #9E9E9E

.bg-blue-gray
	background-color: #607D8B

//

// Hovers font colors

//

.hover-black
	&:hover,
	&:focus
		color: #000

.hover-white
	&:hover,
	&:focus
		color: #fff

.hover-red
	&:hover,
	&:focus
		color: #f44336

.hover-pink
	&:hover,
	&:focus
		color: #E91E63

.hover-purple
	&:hover,
	&:focus
		color: #9C27B0

.hover-deep-purple
	&:hover,
	&:focus
		color: #673AB7

.hover-indigo
	&:hover,
	&:focus
		color: #3F51B5

.hover-blue
	&:hover,
	&:focus
		color: #2196F3

.hover-light-blue
	&:hover,
	&:focus
		color: #03A9F4

.hover-cyan
	&:hover,
	&:focus
		color: #00BCD4

.hover-teal
	&:hover,
	&:focus
		color: #009688

.hover-green
	&:hover,
	&:focus
		color: #4CAF50

.hover-light-green
	&:hover,
	&:focus
		color: #8BC34A

.hover-lime
	&:hover,
	&:focus
		color: #CDDC39

.hover-yellow
	&:hover,
	&:focus
		color: #FFEB3B

.hover-amber
	&:hover,
	&:focus
		color: #FFC107

.hover-orange
	&:hover,
	&:focus
		color: #FF9800

.hover-deep-orange
	&:hover,
	&:focus
		color: #FF5722

.hover-gray
	&:hover,
	&:focus
		color: #9E9E9E

.hover-blue-gray
	&:hover,
	&:focus
		color: #607D8B

//

// Hovers background colors

//

.hover-bg-black
	&:hover,
	&:focus
		background-color: #000

.hover-bg-white
	&:hover,
	&:focus
		background-color: #fff

.hover-bg-red
	&:hover,
	&:focus
		background-color: #f44336

.hover-bg-pink
	&:hover,
	&:focus
		background-color: #E91E63

.hover-bg-purple
	&:hover,
	&:focus
		background-color: #9C27B0

.hover-bg-deep-purple
	&:hover,
	&:focus
		background-color: #673AB7

.hover-bg-indigo
	&:hover,
	&:focus
		background-color: #3F51B5

.hover-bg-blue
	&:hover,
	&:focus
		background-color: #2196F3

.hover-bg-light-blue
	&:hover,
	&:focus
		background-color: #03A9F4

.hover-bg-cyan
	&:hover,
	&:focus
		background-color: #00BCD4

.hover-bg-teal
	&:hover,
	&:focus
		background-color: #009688

.hover-bg-green
	&:hover,
	&:focus
		background-color: #4CAF50

.hover-bg-light-green
	&:hover,
	&:focus
		background-color: #8BC34A

.hover-bg-lime
	&:hover,
	&:focus
		background-color: #CDDC39

.hover-bg-yellow
	&:hover,
	&:focus
		background-color: #FFEB3B

.hover-bg-amber
	&:hover,
	&:focus
		background-color: #FFC107

.hover-bg-orange
	&:hover,
	&:focus
		background-color: #FF9800

.hover-bg-deep-orange
	&:hover,
	&:focus
		background-color: #FF5722

.hover-bg-gray
	&:hover,
	&:focus
		background-color: #9E9E9E

.hover-bg-blue-gray
	&:hover,
	&:focus
		background-color: #607D8B
