.bg-transparent {
  background-color: transparent;
}

.b-transparent {
  border-color: transparent;
}

//

// Font color

//

.white-05 {
  color: rgba(255, 255, 255, 0.05);
}

.white-10 {
  color: rgba(255, 255, 255, 0.1);
}

.white-20 {
  color: rgba(255, 255, 255, 0.2);
}

.white-30 {
  color: rgba(255, 255, 255, 0.3);
}

.white-40 {
  color: rgba(255, 255, 255, 0.4);
}

.white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.white-60 {
  color: rgba(255, 255, 255, 0.6);
}

.white-70 {
  color: rgba(255, 255, 255, 0.7);
}

.white-80 {
  color: rgba(255, 255, 255, 0.8);
}

.white-90 {
  color: rgba(255, 255, 255, 0.9);
}

.black-05 {
  color: rgba(0, 0, 0, 0.05);
}

.black-10 {
  color: rgba(0, 0, 0, 0.1);
}

.black-20 {
  color: rgba(0, 0, 0, 0.2);
}

.black-30 {
  color: rgba(0, 0, 0, 0.3);
}

.black-40 {
  color: rgba(0, 0, 0, 0.4);
}

.black-50 {
  color: rgba(0, 0, 0, 0.5);
}

.black-60 {
  color: rgba(0, 0, 0, 0.6);
}

.black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.black-80 {
  color: rgba(0, 0, 0, 0.8);
}

.black-90 {
  color: rgba(0, 0, 0, 0.9);
}

.white {
  color: $white;
}

.near-white {
  color: $near-white;
}

.light-gray {
  color: $light-gray;
}

.silver {
  color: $silver;
}

.gray {
  color: $gray;
}

.mid-gray {
  color: $mid-gray;
}

.dark-gray {
  color: $dark-gray;
}

.near-black {
  color: $near-black;
}

.black {
  color: $black;
}

.aqua {
  color: $aqua;
}

.yellow {
  color: $yellow;
}

.washed-yellow {
  color: $washed-yellow;
}

.blue {
  color: $blue;
}

.light-blue {
  color: $light-blue;
}

.washed-blue {
  color: $washed-blue;
}

.green {
  color: $green;
}

.light-green {
  color: $light-green;
}

.washed-green {
  color: $washed-green;
}

.orange {
  color: $orange;
}

.light-orange {
  color: $light-orange;
}

.washed-orange {
  color: $washed-orange;
}

.red {
  color: $red;
}

.light-red {
  color: $light-red;
}

.washed-red {
  color: $washed-red;
}

.purple {
  color: $purple;
}

//

// Border color

//

.b-white-05 {
  border-color: rgba(255, 255, 255, 0.05);
}

.b-white-10 {
  border-color: rgba(255, 255, 255, 0.1);
}

.b-white-20 {
  border-color: rgba(255, 255, 255, 0.2);
}

.b-white-30 {
  border-color: rgba(255, 255, 255, 0.3);
}

.b-white-40 {
  border-color: rgba(255, 255, 255, 0.4);
}

.b-white-50 {
  border-color: rgba(255, 255, 255, 0.5);
}

.b-white-60 {
  border-color: rgba(255, 255, 255, 0.6);
}

.b-white-70 {
  border-color: rgba(255, 255, 255, 0.7);
}

.b-white-80 {
  border-color: rgba(255, 255, 255, 0.8);
}

.b-white-90 {
  border-color: rgba(255, 255, 255, 0.9);
}

.b-black-05 {
  border-color: rgba(0, 0, 0, 0.05);
}

.b-black-10 {
  border-color: rgba(0, 0, 0, 0.1);
}

.b-black-20 {
  border-color: rgba(0, 0, 0, 0.2);
}

.b-black-30 {
  border-color: rgba(0, 0, 0, 0.3);
}

.b-black-40 {
  border-color: rgba(0, 0, 0, 0.4);
}

.b-black-50 {
  border-color: rgba(0, 0, 0, 0.5);
}

.b-black-60 {
  border-color: rgba(0, 0, 0, 0.6);
}

.b-black-70 {
  border-color: rgba(0, 0, 0, 0.7);
}

.b-black-80 {
  border-color: rgba(0, 0, 0, 0.8);
}

.b-black-90 {
  border-color: rgba(0, 0, 0, 0.9);
}

.b-white {
  border-color: $white;
}

.b-near-white {
  border-color: $near-white;
}

.b-light-gray {
  border-color: $light-gray;
}

.b-silver {
  border-color: $silver;
}

.b-gray {
  border-color: $gray;
}

.b-mid-gray {
  border-color: $mid-gray;
}

.b-dark-gray {
  border-color: $dark-gray;
}

.b-near-black {
  border-color: $near-black;
}

.b-black {
  border-color: $black;
}

.b-aqua {
  border-color: $aqua;
}

.b-yellow {
  border-color: $yellow;
}

.b-washed-yellow {
  border-color: $washed-yellow;
}

.b-blue {
  border-color: $blue;
}

.b-light-blue {
  border-color: $light-blue;
}

.b-washed-blue {
  border-color: $washed-blue;
}

.b-green {
  border-color: $green;
}

.b-light-green {
  border-color: $light-green;
}

.b-washed-green {
  border-color: $washed-green;
}

.b-orange {
  border-color: $orange;
}

.b-light-orange {
  border-color: $light-orange;
}

.b-washed-orange {
  border-color: $washed-orange;
}

.b-red {
  border-color: $red;
}

.b-light-red {
  border-color: $light-red;
}

.b-washed-red {
  border-color: $washed-red;
}

.b-purple {
  border-color: $purple;
}

//

// Background color

//

.bg-white-05 {
  background-color: rgba(255, 255, 255, 0.05);
}

.bg-white-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-white-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-white-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-white-60 {
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-white-70 {
  background-color: rgba(255, 255, 255, 0.7);
}

.bg-white-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

.bg-white-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-black-05 {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-black-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-black-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-black-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-black-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-black-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-black-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-black-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-black-90 {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-white {
  background-color: $white;
}

.bg-near-white {
  background-color: $near-white;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-silver {
  background-color: $silver;
}

.bg-gray {
  background-color: $gray;
}

.bg-mid-gray {
  background-color: $mid-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-near-black {
  background-color: $near-black;
}

.bg-black {
  background-color: $black;
}

.bg-aqua {
  background-color: $aqua;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-washed-yellow {
  background-color: $washed-yellow;
}

.bg-blue {
  background-color: $blue;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-washed-blue {
  background-color: $washed-blue;
}

.bg-green {
  background-color: $green;
}

.bg-light-green {
  background-color: $light-green;
}

.bg-washed-green {
  background-color: $washed-green;
}

.bg-orange {
  background-color: $orange;
}

.bg-light-orange {
  background-color: $light-orange;
}

.bg-washed-orange {
  background-color: $washed-orange;
}

.bg-red {
  background-color: $red;
}

.bg-light-red {
  background-color: $light-red;
}

.bg-washed-red {
  background-color: $washed-red;
}

.bg-purple {
  background-color: $purple;
}

//

// Hover color

//

.hover-white {
  &:hover,
  &:focus {
    color: $white;
  }
}

.hover-near-white {
  &:hover,
  &:focus {
    color: $near-white;
  }
}

.hover-light-gray {
  &:hover,
  &:focus {
    color: $light-gray;
  }
}

.hover-silver {
  &:hover,
  &:focus {
    color: $silver;
  }
}

.hover-gray {
  &:hover,
  &:focus {
    color: $gray;
  }
}

.hover-mid-gray {
  &:hover,
  &:focus {
    color: $mid-gray;
  }
}

.hover-dark-gray {
  &:hover,
  &:focus {
    color: $dark-gray;
  }
}

.hover-near-black {
  &:hover,
  &:focus {
    color: $near-black;
  }
}

.hover-black {
  &:hover,
  &:focus {
    color: $black;
  }
}

.hover-aqua {
  &:hover,
  &:focus {
    color: $aqua;
  }
}

.hover-yellow {
  &:hover,
  &:focus {
    color: $yellow;
  }
}

.hover-washed-yellow {
  &:hover,
  &:focus {
    color: $washed-yellow;
  }
}

.hover-blue {
  &:hover,
  &:focus {
    color: $blue;
  }
}

.hover-light-blue {
  &:hover,
  &:focus {
    color: $light-blue;
  }
}

.hover-washed-blue {
  &:hover,
  &:focus {
    color: $washed-blue;
  }
}

.hover-green {
  &:hover,
  &:focus {
    color: $green;
  }
}

.hover-light-green {
  &:hover,
  &:focus {
    color: $light-green;
  }
}

.hover-washed-green {
  &:hover,
  &:focus {
    color: $washed-green;
  }
}

.hover-orange {
  &:hover,
  &:focus {
    color: $orange;
  }
}

.hover-light-orange {
  &:hover,
  &:focus {
    color: $light-orange;
  }
}

.hover-washed-orange {
  &:hover,
  &:focus {
    color: $washed-orange;
  }
}

.hover-red {
  &:hover,
  &:focus {
    color: $red;
  }
}

.hover-light-red {
  &:hover,
  &:focus {
    color: $light-red;
  }
}

.hover-washed-red {
  &:hover,
  &:focus {
    color: $washed-red;
  }
}

.hover-purple {
  &:hover,
  &:focus {
    color: $purple;
  }
}

// Hover background

.hover-bg-white {
  &:hover,
  &:focus {
    background-color: $white;
  }
}

.hover-bg-near-white {
  &:hover,
  &:focus {
    background-color: $near-white;
  }
}

.hover-bg-light-gray {
  &:hover,
  &:focus {
    background-color: $light-gray;
  }
}

.hover-bg-silver {
  &:hover,
  &:focus {
    background-color: $silver;
  }
}

.hover-bg-gray {
  &:hover,
  &:focus {
    background-color: $gray;
  }
}

.hover-bg-mid-gray {
  &:hover,
  &:focus {
    background-color: $mid-gray;
  }
}

.hover-bg-dark-gray {
  &:hover,
  &:focus {
    background-color: $dark-gray;
  }
}

.hover-bg-near-black {
  &:hover,
  &:focus {
    background-color: $near-black;
  }
}

.hover-bg-black {
  &:hover,
  &:focus {
    background-color: $black;
  }
}

.hover-bg-aqua {
  &:hover,
  &:focus {
    background-color: $aqua;
  }
}

.hover-bg-yellow {
  &:hover,
  &:focus {
    background-color: $yellow;
  }
}

.hover-bg-washed-yellow {
  &:hover,
  &:focus {
    background-color: $washed-yellow;
  }
}

.hover-bg-blue {
  &:hover,
  &:focus {
    background-color: $blue;
  }
}

.hover-bg-light-blue {
  &:hover,
  &:focus {
    background-color: $light-blue;
  }
}

.hover-bg-washed-blue {
  &:hover,
  &:focus {
    background-color: $washed-blue;
  }
}

.hover-bg-green {
  &:hover,
  &:focus {
    background-color: $green;
  }
}

.hover-bg-light-green {
  &:hover,
  &:focus {
    background-color: $light-green;
  }
}

.hover-bg-washed-green {
  &:hover,
  &:focus {
    background-color: $washed-green;
  }
}

.hover-bg-orange {
  &:hover,
  &:focus {
    background-color: $orange;
  }
}

.hover-bg-light-orange {
  &:hover,
  &:focus {
    background-color: $light-orange;
  }
}

.hover-bg-washed-orange {
  &:hover,
  &:focus {
    background-color: $washed-orange;
  }
}

.hover-bg-red {
  &:hover,
  &:focus {
    background-color: $red;
  }
}

.hover-bg-light-red {
  &:hover,
  &:focus {
    background-color: $light-red;
  }
}

.hover-bg-washed-red {
  &:hover,
  &:focus {
    background-color: $washed-red;
  }
}

.hover-bg-purple {
  &:hover,
  &:focus {
    background-color: $purple;
  }
}
