//

// Media queries

//

//

// Colors

//

$white: #fff;
$near-white: #f4f4f4;
$light-gray: #aaa;
$silver: #999;
$gray: #777;
$mid-gray: #555;
$dark-gray: #333;
$near-black: #111;
$black: #000;

$yellow: #ffec1a;
$washed-yellow: #fff7a3;
$blue: #1976d2;
$light-blue: #2196f3;
$washed-blue: #c2e2fb;
$green: #388e3c;
$light-green: #4caf50;
$washed-green: #c8e6c9;
$orange: #ffa000;
$light-orange: #ffc107;
$washed-orange: #ffecb3;
$red: #d32f2f;
$light-red: #f44336;
$washed-red: #ffcdd2;
$purple: #800055;
