.flex { display: flex; }

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-wrap { flex-wrap: wrap; }

.flex-nowrap { flex-wrap: nowrap; }

.flex-row { flex-direction: row; }

.flex-column { flex-direction: column; }

.justify-start { justify-content: flex-start; }

.justify-center { justify-content: center; }

.justify-end { justify-content: flex-end; }

.justify-between { justify-content: space-between; }

.justify-around { justify-content: space-around; }

.items-start { align-items: flex-start; }

.items-center { align-items: center; }

.items-end { align-items: flex-end; }

.items-stretch { align-items: stretch; }

.items-baseline { align-items: baseline; }

.item-start { align-self: flex-start; }

.item-center { align-self: center; }

.item-end { align-self: flex-end; }

.item-stretch { align-self: stretch; }

.item-baseline { align-self: baseline; }

.order-1 { order: 1; }

.order-2 { order: 2; }

.order-3 { order: 3; }

.order-4 { order: 4; }

.order-5 { order: 5; }

.order-99 { order: 99; }

@media #{$small} {
  .flex-s { display: flex; }

  .flex-auto-s {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .flex-wrap-s { flex-wrap: wrap; }

  .flex-nowrap-s { flex-wrap: nowrap; }

  .flex-row-s { flex-direction: row; }

  .flex-column-s { flex-direction: column; }

  .justify-start-s { justify-content: flex-start; }

  .justify-center-s { justify-content: center; }

  .justify-end-s { justify-content: flex-end; }

  .justify-between-s { justify-content: space-between; }

  .justify-around-s { justify-content: space-around; }

  .items-start-s { align-items: flex-start; }

  .items-center-s { align-items: center; }

  .items-end-s { align-items: flex-end; }

  .items-stretch-s { align-items: stretch; }

  .items-baseline-s { align-items: baseline; }

  .item-start-s { align-self: flex-start; }

  .item-center-s { align-self: center; }

  .item-end-s { align-self: flex-end; }

  .item-stretch-s { align-self: stretch; }

  .item-baseline-s { align-self: baseline; }

  .order-1-s { order: 1; }

  .order-2-s { order: 2; }

  .order-3-s { order: 3; }

  .order-4-s { order: 4; }

  .order-5-s { order: 5; }

  .order-99-s { order: 99; }
}

@media #{$medium} {
  .flex-m { display: flex; }

  .flex-auto-m {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .flex-wrap-m { flex-wrap: wrap; }

  .flex-nowrap-m { flex-wrap: nowrap; }

  .flex-row-m { flex-direction: row; }

  .flex-column-m { flex-direction: column; }

  .justify-start-m { justify-content: flex-start; }

  .justify-center-m { justify-content: center; }

  .justify-end-m { justify-content: flex-end; }

  .justify-between-m { justify-content: space-between; }

  .justify-around-m {
    justify-content: space-around; }

  .items-start-m { align-items: flex-start; }

  .items-center-m { align-items: center; }

  .items-end-m { align-items: flex-end; }

  .items-stretch-m { align-items: stretch; }

  .items-baseline-m { align-items: baseline; }

  .item-start-m { align-self: flex-start; }

  .item-center-m { align-self: center; }

  .item-end-m { align-self: flex-end; }

  .item-stretch-m { align-self: stretch; }

  .item-baseline-m { align-self: baseline; }

  .order-1-m { order: 1; }

  .order-2-m { order: 2; }

  .order-3-m { order: 3; }

  .order-4-m { order: 4; }

  .order-5-m { order: 5; }

  .order-99-m { order: 99; }
}

@media #{$large} {
  .flex-l { display: flex; }

  .flex-auto-l {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }

  .flex-wrap-l { flex-wrap: wrap; }

  .flex-nowrap-l { flex-wrap: nowrap; }

  .flex-row-l { flex-direction: row; }

  .flex-column-l { flex-direction: column; }

  .justify-start-l { justify-content: flex-start; }

  .justify-center-l { justify-content: center; }

  .justify-end-l { justify-content: flex-end; }

  .justify-between-l { justify-content: space-between; }

  .justify-around-l { justify-content: space-around; }

  .items-start-l { align-items: flex-start; }

  .items-center-l { align-items: center; }

  .items-end-l { align-items: flex-end; }

  .items-stretch-l { align-items: stretch; }

  .items-baseline-l { align-items: baseline; }

  .item-start-l { align-self: flex-start; }

  .item-center-l { align-self: center; }

  .item-end-l { align-self: flex-end; }

  .item-stretch-l { align-self: stretch; }

  .item-baseline-l { align-self: baseline; }

  .order-1-l { order: 1; }

  .order-2-l { order: 2; }

  .order-3-l { order: 3; }

  .order-4-l { order: 4; }

  .order-5-l { order: 5; }

  .order-99-l { order: 99; }
}
