.h-auto {
  height: auto;
}

.h1 {
  height: 1em;
}

.h2 {
  height: 2em;
}

.h4 {
  height: 4em;
}

.h8 {
  height: 8em;
}

.h16 {
  height: 16em;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-100 {
  height: 100%;
}

.vh-50 {
  height: 50vh;
}

.vh-100 {
  height: 100vh;
}

@media screen and (min-width: 30em) {
  .h-auto-s {
    height: auto;
  }

  .h1-s {
    height: 1em;
  }

  .h2-s {
    height: 2em;
  }

  .h4-s {
    height: 4em;
  }

  .h8-s {
    height: 8em;
  }

  .h16-s {
    height: 16em;
  }

  .h-25-s {
    height: 25%;
  }

  .h-50-s {
    height: 50%;
  }

  .h-100-s {
    height: 100%;
  }

  .vh-50-s {
    height: 50vh;
  }

  .vh-100-s {
    height: 100vh;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .h-auto-m {
    height: auto;
  }

  .h1-m {
    height: 1em;
  }

  .h2-m {
    height: 2em;
  }

  .h4-m {
    height: 4em;
  }

  .h8-m {
    height: 8em;
  }

  .h16-m {
    height: 16em;
  }

  .h-25-m {
    height: 25%;
  }

  .h-50-m {
    height: 50%;
  }

  .h-100-m {
    height: 100%;
  }

  .vh-50-m {
    height: 50vh;
  }

  .vh-100-m {
    height: 100vh;
  }
}

@media screen and (min-width: 60em) {
  .h-auto-l {
    height: auto;
  }

  .h1-l {
    height: 1em;
  }

  .h2-l {
    height: 2em;
  }

  .h4-l {
    height: 4em;
  }

  .h8-l {
    height: 8em;
  }

  .h16-l {
    height: 16em;
  }

  .h-25-l {
    height: 25%;
  }

  .h-50-l {
    height: 50%;
  }

  .h-100-l {
    height: 100%;
  }

  .vh-50-l {
    height: 50vh;
  }

  .vh-100-l {
    height: 100vh;
  }
}
