.h-10
  height: 10%

.h-50
  height: 50%

.h-100
  height: 100%

@media screen and (min-width: 48em)

  .h-10-s
    height: 10%

  .h-50-s
    height: 50%

  .h-100-s
    height: 100%

@media screen and (min-width: 48em) and (max-width: 64em)

  .h-10-m
    height: 10%

  .h-50-m
    height: 50%

  .h-100-m
    height: 100%

@media screen and (min-width: 64em)

  .h-10-l
    height: 10%

  .h-50-l
    height: 50%

  .h-100-l
    height: 100%
