.absolute
  position: absolute

.fixed
  position: fixed

.relative
  position: relative

.static
  position: static

.top0
  top: 0

.right0
  right: 0

.bottom0
  bottom: 0

.left0
  left: 0

.border-box
  box-sizing: border-box

.hidden
  display: none

.block
  display: block

.inline-block
  display: inline-block

.inline
  display: inline

.display-table
  display: table

.table-cell
  display: table-cell

.align-top
  vertical-align: top

.align-middle
  vertical-align: middle

.align-baseline
  vertical-align: baseline

.align-bottom
  vertical-align: bottom

.left
  float: left

.right
  float: right

.overflow-hidden
  overflow: hidden

.overflow-auto
  overflow: auto

.overflow-scroll
  overflow: scroll

.overflow-x-hidden
  overflow-x: hidden

.overflow-x-auto
  overflow-x: auto

.overflow-x-scroll
  overflow-x: scroll

.overflow-y-hidden
  overflow-y: hidden

.overflow-y-auto
  overflow-y: auto

.overflow-y-scroll
  overflow-y: scroll

.z-1
  z-index: 1

.z-2
  z-index: 2

.z-3
  z-index: 3

.z-4
  z-index: 4

.z-9999
  z-index: 9999

@media screen and (min-width: 30em)

  .absolute-s
    position: absolute

  .fixed-s
    position: fixed

  .relative-s
    position: relative

  .static-s
    position: static

  .top0-s
    top: 0

  .right0-s
    right: 0

  .bottom0-s
    bottom: 0

  .left0-s
    left: 0

  .border-box-s
    box-sizing: border-box

  .hidden-s
    display: none

  .block-s
    display: block

  .inline-block-s
    display: inline-block

  .inline-s
    display: inline

  .display-table-s
    display: table

  .table-cell-s
    display: table-cell

  .align-top-s
    vertical-align: top

  .align-middle-s
    vertical-align: middle

  .align-baseline-s
    vertical-align: baseline

  .align-bottom-s
    vertical-align: bottom

  .left-s
    float: left

  .right-s
    float: right

  .overflow-hidden-s
    overflow: hidden

  .overflow-auto-s
    overflow: auto

  .overflow-scroll-s
    overflow: scroll

  .overflow-x-hidden-s
    overflow-x: hidden

  .overflow-x-auto-s
    overflow-x: auto

  .overflow-x-scroll-s
    overflow-x: scroll

  .overflow-y-hidden-s
    overflow-y: hidden

  .overflow-y-auto-s
    overflow-y: auto

  .overflow-y-scroll-s
    overflow-y: scroll

  .z-1-s
    z-index: 1

  .z-2-s
    z-index: 2

  .z-3-s
    z-index: 3

  .z-4-s
    z-index: 4

  .z-9999-s
    z-index: 9999

@media screen and (min-width: 30em) and (max-width: 60em)

  .absolute-m
    position: absolute

  .fixed-m
    position: fixed

  .relative-m
    position: relative

  .static-m
    position: static

  .top0-m
    top: 0

  .right0-m
    right: 0

  .bottom0-m
    bottom: 0

  .left0-m
    left: 0

  .border-box-m
    box-sizing: border-box

  .hidden-m
    display: none

  .block-m
    display: block

  .inline-block-m
    display: inline-block

  .inline-m
    display: inline

  .display-table-m
    display: table

  .table-cell-m
    display: table-cell

  .align-top-m
    vertical-align: top

  .align-middle-m
    vertical-align: middle

  .align-baseline-m
    vertical-align: baseline

  .align-bottom-m
    vertical-align: bottom

  .left-m
    float: left

  .right-m
    float: right

  .overflow-hidden-m
    overflow: hidden

  .overflow-auto-m
    overflow: auto

  .overflow-scroll-m
    overflow: scroll

  .overflow-x-hidden-m
    overflow-x: hidden

  .overflow-x-auto-m
    overflow-x: auto

  .overflow-x-scroll-m
    overflow-x: scroll

  .overflow-y-hidden-m
    overflow-y: hidden

  .overflow-y-auto-m
    overflow-y: auto

  .overflow-y-scroll-m
    overflow-y: scroll

  .z-1-m
    z-index: 1

  .z-2-m
    z-index: 2

  .z-3-m
    z-index: 3

  .z-4-m
    z-index: 4

  .z-9999-m
    z-index: 9999

@media screen and (min-width: 60em)

  .absolute-l
    position: absolute

  .fixed-l
    position: fixed

  .relative-l
    position: relative

  .static-l
    position: static

  .top0-l
    top: 0

  .right0-l
    right: 0

  .bottom0-l
    bottom: 0

  .left0-l
    left: 0

  .border-box-l
    box-sizing: border-box

  .hidden-l
    display: none

  .block-l
    display: block

  .inline-block-l
    display: inline-block

  .inline-l
    display: inline

  .display-table-l
    display: table

  .table-cell-l
    display: table-cell

  .align-top-l
    vertical-align: top

  .align-liddle-l
    vertical-align: middle

  .align-baseline-l
    vertical-align: baseline

  .align-bottom-l
    vertical-align: bottom

  .left-l
    float: left

  .right-l
    float: right

  .overflow-hidden-l
    overflow: hidden

  .overflow-auto-l
    overflow: auto

  .overflow-scroll-l
    overflow: scroll

  .overflow-x-hidden-l
    overflow-x: hidden

  .overflow-x-auto-l
    overflow-x: auto

  .overflow-x-scroll-l
    overflow-x: scroll

  .overflow-y-hidden-l
    overflow-y: hidden

  .overflow-y-auto-l
    overflow-y: auto

  .overflow-y-scroll-l
    overflow-y: scroll

  .z-1-l
    z-index: 1

  .z-2-l
    z-index: 2

  .z-3-l
    z-index: 3

  .z-4-l
    z-index: 4

  .z-9999-l
    z-index: 9999
