html {
  box-sizing: border-box;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

canvas,
video,
iframe {
  max-width: 100%;
}

svg {
  max-height: 100%;
}
