.shadow-all { box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .7); }

.shadow-rb { box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, .7); }

.shadow-lb { box-shadow: -2px 4px 10px 1px rgba(0, 0, 0, .7); }

.shadow-rt { box-shadow: 2px -4px 10px 1px rgba(0, 0, 0, .7); }

.shadow-lt { box-shadow: -2px -4px 10px 1px rgba(0, 0, 0, .7); }