@each $key, $value in $spacing {
  
  // Padding

  .p#{$key} { padding: #{$value}em; }

  .pt#{$key} { padding-top: #{$value}em; }

  .pr#{$key} { padding-right: #{$value}em; }

  .pb#{$key} { padding-bottom: #{$value}em; }

  .pl#{$key} { padding-left: #{$value}em; }

  .p#{$key}n { padding: -#{$value}em; }

  .pt#{$key}n { padding-top: -#{$value}em; }

  .pr#{$key}n { padding-right: -#{$value}em; }

  .pb#{$key}n { padding-bottom: -#{$value}em; }

  .pl#{$key}n { padding-left: -#{$value}em; }

  .pv#{$key} {
    padding-top: #{$value}em;
    padding-bottom: #{$value}em;
  }

  .ph#{$key} {
    padding-left: #{$value}em;
    padding-right: #{$value}em;
  }

  // Margin

  .m#{$key} { margin: #{$value}em; }

  .mt#{$key} { margin-top: #{$value}em; }

  .mr#{$key} { margin-right: #{$value}em; }

  .mb#{$key} { margin-bottom: #{$value}em; }

  .ml#{$key} { margin-left: #{$value}em; }

  .m#{$key}n { margin: -#{$value}em; }

  .mt#{$key}n { margin-top: -#{$value}em; }

  .mr#{$key}n { margin-right: -#{$value}em; }

  .mb#{$key}n { margin-bottom: -#{$value}em; }

  .ml#{$key}n { margin-left: -#{$value}em; }

  .mv#{$key} {
    margin-top: #{$value}em;
    margin-bottom: #{$value}em;
  }

  .mh#{$key} {
    margin-left: #{$value}em;
    margin-right: #{$value}em;
  }

}

@media #{$small} {

  @each $key, $value in $spacing {
  
    // Padding

    .p#{$key}-s { padding: #{$value}em; }

    .pt#{$key}-s { padding-top: #{$value}em; }

    .pr#{$key}-s { padding-right: #{$value}em; }

    .pb#{$key}-s { padding-bottom: #{$value}em; }

    .pl#{$key}-s { padding-left: #{$value}em; }

    .p#{$key}n-s { padding: -#{$value}em; }

    .pt#{$key}n-s { padding-top: -#{$value}em; }

    .pr#{$key}n-s { padding-right: -#{$value}em; }

    .pb#{$key}n-s { padding-bottom: -#{$value}em; }

    .pl#{$key}n-s { padding-left: -#{$value}em; }

    .pv#{$key}-s {
      padding-top: #{$value}em;
      padding-bottom: #{$value}em;
    }

    .ph#{$key}-s {
      padding-left: #{$value}em;
      padding-right: #{$value}em;
    }

    // Margin

    .m#{$key}-s { margin: #{$value}em; }

    .mt#{$key}-s { margin-top: #{$value}em; }

    .mr#{$key}-s { margin-right: #{$value}em; }

    .mb#{$key}-s { margin-bottom: #{$value}em; }

    .ml#{$key}-s { margin-left: #{$value}em; }

    .m#{$key}n-s { margin: -#{$value}em; }

    .mt#{$key}n-s { margin-top: -#{$value}em; }

    .mr#{$key}n-s { margin-right: -#{$value}em; }

    .mb#{$key}n-s { margin-bottom: -#{$value}em; }

    .ml#{$key}n-s { margin-left: -#{$value}em; }

    .mv#{$key}-s {
      margin-top: #{$value}em;
      margin-bottom: #{$value}em;
    }

    .mh#{$key}-s {
      margin-left: #{$value}em;
      margin-right: #{$value}em;
    }

  }
}

@media #{$medium} {

  @each $key, $value in $spacing {
  
    // Padding

    .p#{$key}-m { padding: #{$value}em; }

    .pt#{$key}-m { padding-top: #{$value}em; }

    .pr#{$key}-m { padding-right: #{$value}em; }

    .pb#{$key}-m { padding-bottom: #{$value}em; }

    .pl#{$key}-m { padding-left: #{$value}em; }

    .p#{$key}n-m { padding: -#{$value}em; }

    .pt#{$key}n-m { padding-top: -#{$value}em; }

    .pr#{$key}n-m { padding-right: -#{$value}em; }

    .pb#{$key}n-m { padding-bottom: -#{$value}em; }

    .pl#{$key}n-m { padding-left: -#{$value}em; }

    .pv#{$key}-m {
      padding-top: #{$value}em;
      padding-bottom: #{$value}em;
    }

    .ph#{$key}-m {
      padding-left: #{$value}em;
      padding-right: #{$value}em;
    }

    // Margin

    .m#{$key}-m { margin: #{$value}em; }

    .mt#{$key}-m { margin-top: #{$value}em; }

    .mr#{$key}-m { margin-right: #{$value}em; }

    .mb#{$key}-m { margin-bottom: #{$value}em; }

    .ml#{$key}-m { margin-left: #{$value}em; }

    .m#{$key}n-m { margin: -#{$value}em; }

    .mt#{$key}n-m { margin-top: -#{$value}em; }

    .mr#{$key}n-m { margin-right: -#{$value}em; }

    .mb#{$key}n-m { margin-bottom: -#{$value}em; }

    .ml#{$key}n-m { margin-left: -#{$value}em; }

    .mv#{$key}-m {
      margin-top: #{$value}em;
      margin-bottom: #{$value}em;
    }

    .mh#{$key}-m {
      margin-left: #{$value}em;
      margin-right: #{$value}em;
    }

  }
}

@media #{$large} {

  @each $key, $value in $spacing {
  
    // Padding

    .p#{$key}-l { padding: #{$value}em; }

    .pt#{$key}-l { padding-top: #{$value}em; }

    .pr#{$key}-l { padding-right: #{$value}em; }

    .pb#{$key}-l { padding-bottom: #{$value}em; }

    .pl#{$key}-l { padding-left: #{$value}em; }

    .p#{$key}n-l { padding: -#{$value}em; }

    .pt#{$key}n-l { padding-top: -#{$value}em; }

    .pr#{$key}n-l { padding-right: -#{$value}em; }

    .pb#{$key}n-l { padding-bottom: -#{$value}em; }

    .pl#{$key}n-l { padding-left: -#{$value}em; }

    .pv#{$key}-l {
      padding-top: #{$value}em;
      padding-bottom: #{$value}em;
    }

    .ph#{$key}-l {
      padding-left: #{$value}em;
      padding-right: #{$value}em;
    }

    // Margin

    .m#{$key}-l { margin: #{$value}em; }

    .mt#{$key}-l { margin-top: #{$value}em; }

    .mr#{$key}-l { margin-right: #{$value}em; }

    .mb#{$key}-l { margin-bottom: #{$value}em; }

    .ml#{$key}-l { margin-left: #{$value}em; }

    .m#{$key}n-l { margin: -#{$value}em; }

    .mt#{$key}n-l { margin-top: -#{$value}em; }

    .mr#{$key}n-l { margin-right: -#{$value}em; }

    .mb#{$key}n-l { margin-bottom: -#{$value}em; }

    .ml#{$key}n-l { margin-left: -#{$value}em; }

    .mv#{$key}-l {
      margin-top: #{$value}em;
      margin-bottom: #{$value}em;
    }

    .mh#{$key}-l {
      margin-left: #{$value}em;
      margin-right: #{$value}em;
    }

  }
}