.grow
	-moz-osx-font-smoothing: grayscale
  backface-visibility: hidden
  transform: translateZ(0)
	transition: transform .2s ease-out
	&:hover,
	&:focus
		transform: scale(1.050)

	&:active
		transform: scale(.90)

.opacity
	opacity: 1
	transition: opacity .2s ease-out
	&:hover,
	&:focus
		opacity: .700

.hover-underline
	&:hover
		text-decoration: underline

.pointer
	&:hover
		cursor: pointer
