.text-shadow-all {
	text-shadow: 0px 0px 4px rgba(0, 0, 0, .7);
}

.text-shadow-rb {
	text-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
}

.text-shadow-lb {
	text-shadow: -1px 2px 4px rgba(0, 0, 0, .7);
}

.text-shadow-rt {
	text-shadow: 1px -2px 4px rgba(0, 0, 0, .7);
}

.text-shadow-lt {
	text-shadow: -1px -2px 4px rgba(0, 0, 0, .7);
}