.measure
  max-width: 30em

.headline
  font-size: 5em

.big
  font-size: 4em

.h1
  font-size: 2.800em

.h2
  font-size: 2.250em

.h3
  font-size: 1.875em

.h4
  font-size: 1.500em

.h5
  font-size: 1.125em

.h6
  font-size: .875em

.small
  font-size: .750em

.fw1
  font-weight: 100

.fw2
  font-weight: 200

.fw3
  font-weight: 300

.fw4
  font-weight: 400

.fw5
  font-weight: 500

.fw6
  font-weight: 600

.fw7
  font-weight: 700

.fw8
  font-weight: 800

.fw9
  font-weight: 900

.muted
  opacity: .5

.lead-normal
  line-height: 1

.lead-title
  line-height: 1.25

.lead-copy
  line-height: 1.5

.bold
  font-weight: bold

.italic
  font-style: italic

.serif
  font-family: serif

.sans-serif
  font-family: sans-serif

.monospace
  font-family: monospace

.text-underline
  text-decoration: underline

.line-strike
  text-decoration: line-through

.upper
  text-transform: uppercase

.caps
  text-transform: capitalize

.lower
  text-transform: lowercase

.small-caps
  font-variant: small-caps

.break-word
  word-wrap: break-word

.nowrap
  white-space: nowrap

.truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.tracked
  letter-spacing: .16em

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.text-justify
  text-align: justify

@media screen and (min-width: 30em)

  .headline-s
    font-size: 5em

  .big-s
    font-size: 4em

  .h1-s
    font-size: 2.800em

  .h2-s
    font-size: 2.250em

  .h3-s
    font-size: 1.875em

  .h4-s
    font-size: 1.500em

  .h5-s
    font-size: 1.125em

  .h6-s
    font-size: .875em

  .break-word-s
    word-wrap: break-word

  .nowrap-s
    white-space: nowrap

  .truncate-s
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .text-center-s
    text-align: center

  .text-left-s
    text-align: left

  .text-right-s
    text-align: right

  .text-justify-s
    text-align: justify

@media screen and (min-width: 30em) and (max-width: 60em)

  .headline-m
    font-size: 5em

  .big-m
    font-size: 4em

  .h1-m
    font-size: 2.800em

  .h2-m
    font-size: 2.250em

  .h3-m
    font-size: 1.875em

  .h4-m
    font-size: 1.500em

  .h5-m
    font-size: 1.125em

  .h6-m
    font-size: .875em

  .break-word-m
    word-wrap: break-word

  .nowrap-m
    white-space: nowrap

  .truncate-m
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .text-center-m
    text-align: center

  .text-left-m
    text-align: left

  .text-right-m
    text-align: right

  .text-justify-m
    text-align: justify

@media screen and (min-width: 60em)

  .headline-l
    font-size: 5em

  .big-l
    font-size: 4em

  .h1-l
    font-size: 2.800em

  .h2-l
    font-size: 2.250em

  .h3-l
    font-size: 1.875em

  .h4-l
    font-size: 1.500em

  .h5-l
    font-size: 1.125em

  .h6-l
    font-size: .875em

  .break-word-l
    word-wrap: break-word

  .nowrap-l
    white-space: nowrap

  .truncate-l
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .text-center-l
    text-align: center

  .text-left-l
    text-align: left

  .text-right-l
    text-align: right

  .text-justify-l
    text-align: justify
