.cf:before
.cf:after
  content: " "
  display: block

.cf:after
  clear: both

.center
  margin-left: auto
  margin-right: auto

.fit
  max-width: 100%

.aspect-ratio
  height: 0
  position: relative

.aspect-ratio--3x2
  padding-bottom: 66.66%

.aspect-ratio--4x3
  padding-bottom: 75%

.aspect-ratio--8x5
  padding-bottom: 62.5%

.aspect-ratio--16x9
  padding-bottom: 56.25%

.aspect-ratio--item
  height: 100%
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  z-index: 100
